---
import "@fontsource/oswald/variable.css"
import "@fontsource/rubik/variable.css"
import favicon from "../assets/favicon.svg"
import { getSession } from "../features/auth/session"
import { AppRoot } from "../features/core/app"
import { getDiscordAuthUser } from "../helpers/discord"
import { truthyJoin } from "../helpers/truthy-join"
import {
  defaultRoomId,
  defaultRoomInit,
  liveblocksClient,
} from "../liveblocks/client"

async function getAuth() {
  const session = getSession(Astro.request)

  const discordUser =
    session &&
    (await getDiscordAuthUser(session.discordAccessToken).catch((error) => {
      console.warn("Failed to fetch Discord user", error)
    }))

  let allowList = []
  try {
    allowList = JSON.parse(import.meta.env.DISCORD_ALLOWLIST)
  } catch (error) {
    console.warn("Failed to parse DISCORD_ALLOWLIST", error)
    console.warn("Allowlist:", import.meta.env.DISCORD_ALLOWLIST)
  }

  const isAllowed = discordUser && allowList.includes(discordUser.id)

  return { session, discordUser, isAllowed }
}

async function getWorldData() {
  const room = liveblocksClient.enter(defaultRoomId, defaultRoomInit)
  const storage = await room.getStorage()
  return storage.root.get("world")
}

const [auth, world] = await Promise.all([getAuth(), getWorldData()])

const title = truthyJoin(" | ", [world?.name, "Charge Worlds"])
const description = "Virtual environment for the Charge RPG system"
---

<!DOCTYPE html>
<html lang="en" class="font-body overflow-y-scroll bg-gray-800 text-gray-100">
  <head>
    {/* eslint-disable-next-line unicorn/text-encoding-identifier-case */}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.site} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <!-- <meta
      property="og:image"
      content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png"
    /> -->

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.site} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <!-- <meta
      property="twitter:image"
      content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png"
    /> -->

    <title>{title}</title>

    <link rel="icon" href={favicon} />
  </head>
  <body>
    {
      !auth.discordUser ? (
        <main class="grid gap-4 p-8">
          <p>
            To access this world, please{" "}
            <a href="/auth/discord/login" class="underline">
              Login with Discord
            </a>
          </p>
          <p class="opacity-75">{`(i'll make this less jank later)`}</p>
        </main>
      ) : !auth.isAllowed ? (
        <main class="grid gap-4 p-8">
          <p>
            {`Sorry, you're not authorized to enter this world.`}
            <a href="/auth/logout" class="underline">
              Log out
            </a>
          </p>
          <p class="opacity-75">{`(i'll make this less jank later)`}</p>
        </main>
      ) : (
        <AppRoot name={auth.discordUser.username} client:only="react" />
      )
    }
  </body>
</html>
