---
import "@fontsource/oswald/variable.css"
import "@fontsource/rubik/variable.css"
import { AppRoot } from "../app"

const title = "Charge Worlds"
const description = "Virtual environment for the Charge RPG system"
---

<!DOCTYPE html>
<html lang="en" class="font-body bg-gray-800 text-gray-100">
  <head>
    {/* eslint-disable-next-line unicorn/text-encoding-identifier-case */}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.site} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <!-- <meta
      property="og:image"
      content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png"
    /> -->

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.site} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <!-- <meta
      property="twitter:image"
      content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png"
    /> -->

    <title>{title}</title>
  </head>
  <body>
    <AppRoot client:only="react" />
  </body>
</html>
